extends layout

block content
  h1= title
  .content-row
    .add-section
      h2 Reviews
      form(method='POST' action='/create')
        label(for='task') Task:
        input(type='text', name='task', id='task', required, minlength='1')
        button.btn-save(type='submit') Create Task

    .tasks-section
      h2 Your Tasks:
      if todos.length === 0
        p.empty You're all caught up!
      else
        ol.todo-list
          each val in todos
            li.todo-item(class=val.completed ? 'completed' : '')
              form.inline-form(method='POST' action='/toggle')
                input(type='hidden', name='id', value=val.id)
                input(type='hidden', name='completed', value=val.completed)
                button.btn-toggle(type='submit')= val.completed ? '✅' : '⬜'
              form.inline-form.edit-form(method='POST' action='/edit')
                input(type='hidden', name='id', value=val.id)
                input.edit-input(type='text', name='task', value=val.task, required, minlength='1', class=val.completed ? 'strikethrough' : '')
                button.btn-save(type='submit') Save
              form.inline-form(method='POST' action='/delete')
                input(type='hidden', name='id', value=val.id)
                button.btn-delete(type='submit') 🗑